extends layout
block content
	div.container		
		div.articlebox
			img(src="/img/kermit.png").-profile-pic
			p.-msg It's great being a frog. I f**kin' love it.<br>Wouldn't you agree?
			p#_likenumber.-likenumber Likes: 0
			img(src="/img/heart.png")#_heart.-heart
			img(src="/img/heart_empty.png").-heart-empty
			
		div.likebox
			button#_likebtn.-likebtn Like!
			
